

/* NAVIGATION VARIABLES */

/*
/* .NAV class
$flex-basis: 100%;
$display-flex: flex;

/* .NAV-LINK class
$text-align: center;
$display-block: block;
$width: 100%;

/* .NAV-LINK:HOVER class
$nav-link-hover-color: #fff;
$nav-link-hover-background-color: #58e1c1;
*/


.nav {      /* NAVIGATION PARTIAL */
  padding-left: 0;
  flex-basis: $flex-basis;
  display: $display-flex;
  flex-direction: column;
}


.nav-link {  /* NAVIGATION PARTIAL */
  text-align: $text-align;
  border-radius: 5px;
  padding: 10px 0;
  display: $display-block;
  width: $width;
  transition:
    background-color .2s ease-in-out,
    color .2s ease-in-out;
}


.nav-link:hover {/* NAVIGATION PARTIAL */
  color: $nav-link-hover-color;
  background-color: $nav-link-hover-background-color;
}


// 768px
@media (min-width: $MQ-Tablet-768) {
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-link {
    flex-basis: 100px;
  }
}
