

/* IMAGES VARIABLES */
/*
$display: block;
$margin-left: auto;
$margin-right: auto;

$margin-top: 10px;
$max-width: 100%;
$max-height: 100%;
*/

.img-avatar {         /* COMPONENTS PARTIAL THEN CREATE AN IMAGES.SCSS SHEET */
  display: $display;
  margin-left: $margin-left;
  margin-right: $margin-right;
  margin-top: $margin-top;
  max-width: $max-width;
  max-height: $max-height;
}

.img-frame {      /* COMPONENTS - IMAGES PARTIAL */
  display: $display;
  margin-left: $margin-left;
  margin-right: $margin-right;
  margin-top: $margin-top;
  max-width: $max-width;
  padding: 13px;
  border: 1px solid #ccc;
}

.img-logo {        /* COMPONENTS - IMAGES PARTIAL */
  display: $display;
  margin-left: $margin-left;
  margin-right: $margin-right;
}
