

// VARIABLES -----/



// TYPOGRAPHY Variables /

$color-base: #777;
$color-primary: #58e1c1;
$color-link: #51ddfc;
$color-navlink-h: #fff;

$font-family: 'Lato', sans-serif;
$font-size: 1.5em;
$font-weight: 300;
$font-weight-link: 700;
$font-style: italic;

$line-height: 1.45em;

$text-decoration: none;






// UNKNOWN variables -----/

$background-color: white;
$border:;
$border-bottom:;
$box-sizing: border-box;
$border-left:;
$color:;


$font-family:;
$font-weight:;
$font-size:;
$font-style:;

$text-align:;
$text-decoration: none;
$text-transform:;



@media (min-width: 768px) {

}
