

// VARIABLES -----/




/* NORMALIZE Variables */


// TYPOGRAPHY Variables /

$color-base: #777;
$color-primary: #58e1c1;
$color-link: #51ddfc;
$color-navlink-h: #fff;

$font-family: 'Lato', sans-serif;
$font-size: 1.5em;
$font-weight: 300;
$font-weight-link: 700;
$font-style: italic;

$line-height: 1.45em;

$text-decoration: none;



/* BUTTONS */
$color: #fff;
$btn-width: 100%;

$default-background-color: #51ddfc;
$error-background-color: #e4757a;
$info-background-color: #927bc1;
$success-background-color: #63cc82;
$warning-background-color: #fd7856;

$text-transform: uppercase;


/* FORM VARIABLES  */
$flex-basis: 100%;
$input-width: 94%;
$hidden-width: 1px;
$hidden-height: 1px;



/* GRID VARIABLES */
$flex-basis: 100%;

$col1-color: #927bc1;
$col2-color: #fd7856;
$col3-color: #deb2ee;
$col4-color: #7ee6fd;
$col5-color: #88d9a0;
$col6-color: #4da2bb;
$col7-color: #ec9fa3;
$col8-color: #fd9f85;
$col9-color: #e4757a;
$col10-color: #63cc82;
$col11-color: #51ddfc;
$col12-color: #80e8d1;

$col1: 8.33%;
$col2: 16.67%;
$col3: 25.00%;
$col4: 33.33%;
$col5: 41.67%;
$col6: 50.00%;
$col7: 58.33%;
$col8: 66.67%;
$col9: 75.00%;
$col10: 83.33%;
$col11: 91.67%;
$col12: 100%;

@media (min-width: 768px){
  .col-1: $col1;
  .col-2: $col2;
  .col-3: $col3;
  .col-4: $col4;
  .col-5: $col5;
  .col-6: $col6;
  .col-7: $col7;
  .col-8: $col8;
  .col-9: $col9;
  .col-10: $col10;
  .col-11: $col11;
  .col-12: $col12;
}

// UNKNOWN variables -----/

$background-color: white;
$border:;
$border-bottom:;
$box-sizing: border-box;
$border-left:;
$color:;


$font-family:;
$font-weight:;
$font-size:;
$font-style:;

$text-align:;
$text-decoration: none;
$text-transform:;



@media (min-width: 768px) {

}
