

// variables -----/

$background-color: white;
$border:;
$border-bottom:;
$box-sizing: border-box;
$border-left:;
$color:;



$font-family:;
$font-weight:;
$font-size:;
$font-style:;

$text-align:;
$text-decoration: none;
$text-transform:;



@media (min-width: 768px) {

}
