
/* FORM SASS VARIABLES */

/*
$input-width: 94%;
$hidden-width: 1px;
$hidden-height: 1px;
*/


.form {  /* FORMS PARTIAL */
  flex-basis: 100%;
}

.input{ /* FORMS PARTIAL */
  display: block;
  width: $input-width;/* 94% */
  margin: 10px auto 0;
  border: none;
  padding: 10px;
  border-bottom: 5px solid #58e1c1;
}

.hidden { /* FORMS PARTIAL */
  position:absolute;
  left:-10000px;
  top:auto;
  width: $hidden-width;/* 1px */
  height: $hidden-height;/* 1px */
  overflow:hidden;
}
