
/* TYPOGRAPHY VARIABLES */

$color-base: #777;
$color-primary: #58e1c1;
$color-link: #51ddfc;
$color-navlink-h: #fff;

$font-family: 'Lato', sans-serif;
$font-size: 1.5em;
$font-weight: 300;
$font-weight-link: 700;
$font-style: italic;

$line-height: 1.45em;

$text-decoration: none;




/* BASE Styles */
* {
  font-family: 'Lato', sans-serif;
  color: #777;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.45em;
}



/* TYPOGRAPHY */
.headline-primary {
  color: #58e1c1;
  margin-left: 10px;
}
.headline-secondary {
  font-weight: 300;
  color: #777;
}
.link {
  color: #51ddfc;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;                /* ? */
  padding-left: 20px;               /* ? */
  border-left: 8px solid #58e1c1;   /* ? */
  border-radius: 5px;
}



/* GRID SYSTEM */
/*
  NOTHING FOR TYPOGRAPHY IN THE GRID SYSTEM
*/


/* NAVIGATION */
.nav-link {
  text-align: center;
}
.nav-link:hover {
  color: #fff;
}


/* BUTTONS */
.btn {
  color: #fff;
  text-transform: uppercase;
}


/* FORMS */
/*
  NOTHING FOR FORMS
*/


/* IMAGES */
/*
  NOTHING FOR IMAGES
*/


/* MEDIA QUERIES */
/*
  NOTHING FOR MEDIA QUERIES
*/
